.vscode/**
.vscode-test/**
.github/**
src/**
out/**
webview/**
node_modules/**
.gitignore
.gitattributes
*.map
*.ts
!dist/**
dist/extension.js.map
dist/**/*.map
resources/webview/dist/**/*.map
tsconfig.json
tsup.config.ts
eslint.config.mjs
.vscode-test.mjs
vsc-extension-quickstart.md
CHANGELOG.md
resources/icon-ext.svg
